{% extends "../layout.html" %}

{% block content %}


{% if errors %}

<div class="alert alert-warning">
	<h4>Form Errors!</h4>
	<p>
		<ul>
		{% for error in errors %}
			<li>{{error.message}}</li>
		{% endfor %}
		</ul>
	</p>
</div>

{% endif %}
       

<form class="form-horizontal" method='post' action='/notebooks/save'  enctype="multipart/form-data">
<fieldset><legend>Note Book</legend>
	
	{% if notebook %}
	<input type="hidden" name="id" value="{{notebook._id.toString()}}">
	{% endif %}

	 <input type="hidden" name="_csrf" value="{{csrfToken}}">

	<div class="form-group {% if errors.title %} has-error {% endif %}">
		<label for="inputTitle" class="control-label">Title</label>
		<input type="text" name="title" class="form-control" id="inputTitle" value="{{notebook.title}}">

		{% if errors.title %}
		<label class="control-label" for="inputTitle">{{errors.title.message}}</label>
		{% endif %}
	</div>

	<div class="form-group"><div class="col-lg-10 col-lg-offset-2">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>


</fieldset>
</form>
 

{% endblock %}